extends ../layout

block content
	h1.
		 #{title}

	form(action='/projects', method='get')
		button(type='submit' class="btn btn-success").
			ALL PROJECTS

	#wrapper

	h1 Leader Projects

	#projectList
		table
			thead
				th Name
				th Description
				th Price
				th Members
				th FinishedWorks
				th StartTime
				th EndTime
				th Archived
				th Details
				th Edit?
				th Delete?
			tbody
				- each project, i in leaderProjects
					tr
						td=project.name
						td=project.description
						td=project.price
						td=project.members
						td=project.finishedWorks
						td=project.startTime
						td=project.endTime
						if project.archived
							td YES
						else
							td NO
						td
							form(action='/projects/#{project._id}', method='get')
								button(type='submit', class="btn btn-info").
									Show
						td
							form(action='/projects/edit/#{project._id}', method='get', enctype='application/x-www-form-urlencoded')
								button(type='submit', class="btn btn-primary").
									Edit
						td
							form(action='/projects/delete/#{project._id}', method='post', enctype='application/x-www-form-urlencoded')
								input(type='hidden', value='DELETE', name='_method')
								button(type='submit', class="btn btn-danger").
									Delete

	h1 Member Projects

	#projectList
		table
			thead
				th Name
				th Description
				th Price
				th Members
				th FinishedWorks
				th StartTime
				th EndTime
				th Archived
				th Details
				th Edit?
			tbody
				- each project, i in memberProjects
					tr
						td=project.name
						td=project.description
						td=project.price
						td=project.members
						td=project.finishedWorks
						td=project.startTime
						td=project.endTime
						if project.archived
							td YES
						else
							td NO
						td
							form(action='/projects/#{project._id}', method='get')
								button(type='submit', class="btn btn-info").
									Show
						td
							form(action='/projects/editMember/#{project._id}', method='get', enctype='application/x-www-form-urlencoded')
								button(type='submit', class="btn btn-primary").
									Edit